<form class="file-upload-form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <h2>Upload File</h2>
  <div class="form-group">
    <label for="file">Choose File</label>
    <input name="file" type="file"  accept=".txt,.cvs" id="file" (change)="onFileChange($event)" required style="background-color: #444; color: #fff; border: none; padding: 5px;" >
  </div>
  <button mat-button type="submit"  style="margin-right: 5px; background-color: #5cb85c; color: #fff; border: none; padding: 5px;" >Submit</button>
</form>

<app-person-table></app-person-table>
